<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hackslash.Wordslash">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <activity android:name=".AllWords"
                  android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".SynAnt"
                  android:theme="@style/AppTheme"
                  android:label="WordSlash">
        </activity>

        <activity android:name=".RareNounActivity"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:label="WordSlash">
        </activity>

        <activity android:name=".RareIdiomActivity"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:label="WordSlash">

        </activity>

        <activity android:name=".RareAdjActivity"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:label="WordSlash"></activity>


        <activity android:name="com.facebook.FacebookActivity"
                  android:configChanges=
                      "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                  android:label="Wordslash" />



        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <activity android:name=".WordDetailActivity"
                  android:theme="@style/AppTheme"
                  android:label="WordSlash">

        </activity>

        <activity android:name=".NounDetailActivity"
                  android:theme="@style/AppTheme"
                  android:label="WordSlash"></activity>

        <activity
            android:name="com.hackslash.Wordslash.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>